$max-width: 1200px;
$gutter: 20px;
$break-small: 501px;

$font-ptext: Lora, "Times New Roman", serif;
$font-htext: "Roboto Mono", "Courier New", monospace;

/* palette */
$cBlack: #000;
$cDkGray: #999;
$cMedGray: #aaa;
$cLtGray: #ccc;
$cLtGreen:#2d2;
$cDkGreen: #1a1;
$cGold: #fcffd2;
$cRust: #cc9694;
